<!-- Buttons -->
<div class="justify-content-between mt-5 text-center flex-fill container-xxl">
    <h1>Gerador de VPN</h1>

    <!-- Buttons to open the modals -->
    <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#gerarvpn">
        Gerar VPN
    </button>

    <button type="button" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#consultarvpn">
        Consultar validade de VPN
    </button>

    <button type="button" class="btn btn-warning my-2" data-bs-toggle="modal" data-bs-target="#downloadvpn">
        Download VPN
    </button>
</div>