<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Gerador de VPN</title>

    <!--CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!--Logo-->
          <a class="navbar-brand" href="#">Gerador de VPN</a>
          <!-- Sair-->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#gerarvpn">
            Sair
        </button>
          </div>
        </div>
      </nav>

    <!-- Buttons -->
    <div class="justify-content-between mt-5 text-center flex-fill container-xxl">

        <h1>Gerador de VPN</h1>

        <!-- Buttons to open the modals -->
        <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#gerarvpn">
            Gerar VPN
        </button>

        <button type="button" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#consultarvpn">
            Consultar validade de VPN
        </button>

        <button type="button" class="btn btn-warning my-2" data-bs-toggle="modal" data-bs-target="#downloadvpn">
            Download VPN
        </button>
    </div>

    <!-- Modal for generate a new VPN -->
    <div class="modal fade" id="gerarvpn" tabindex="-1" aria-labelledby="gerarvpn" aria-hidden="true">
        <div class="modal-dialog modal-lg  ">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="gerarvpn">Gerar VPN</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- From for create a new certificate -->
                <form method="POST" action="{{ url_for('hello_world') }}">
                    <div class="mb-3">
                        <!-- Username like: b003215...-->
                      <label for="nome_usuario" class="form-label">Usuário</label>
                      <input type="text" class="form-control" id="nome_usuario" aria-describedby="nome_usuario">
                    </div>
                    <!--Form check for the system -->
                    <div class="container">
                        <div class="form-check-inline">
                            <!--Windows-->
                            <input class="form-check-inline-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-inline-label" for="flexCheckDefault">
                                Windows
                            </label>
                          </div>
                          <!--MacOs-->
                          <div class="form-check-inline">
                            <!--Windows-->
                            <input class="form-check-inline-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-inline-label" for="flexCheckDefault">
                                Mac Os
                            </label>
                          </div>
                          <!--Android-->
                          <div class="form-check-inline">
                            <!--Windows-->
                            <input class="form-check-inline-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-inline-label" for="flexCheckDefault">
                                Android
                            </label>
                          </div>
                          <!--Linux-->
                          <div class="form-check-inline">
                            <!--Windows-->
                            <input class="form-check-inline-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-inline-label" for="flexCheckDefault">
                                Linux
                            </label>
                          </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Criar</button>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
      </div>
        </div>
        </div>
    </div>

    <!--Consult a certificate that already exists -->
    <div class="modal fade" id="consultarvpn" tabindex="-1" aria-labelledby="consultarvpn" aria-hidden="true">
        <div class="modal-dialog modal-lg  ">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="consultarvpn">Consultar VPN</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- From for the users -->
                <form>
                    <div class="mb-3">
                        <!-- username-->
                      <label for="nome_usuario" class="form-label">Nome do Usuário</label>
                      <input type="email" class="form-control" id="nome_usuario" aria-describedby="nome_usuario">
                    </div>
                    <button type="submit" class="btn btn-primary">Consultar</button>
                  </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>

    <!--Download a certificate -->
    <div class="modal fade" id="downloadvpn" tabindex="-1" aria-labelledby="downloadvpn" aria-hidden="true">
        <div class="modal-dialog modal-lg  ">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="downloadvpn">Download VPN</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form>
                    <div class="mb-3">
                        <!-- Username-->
                      <label for="nome_usuario" class="form-label">Nome do Usuário</label>
                      <input type="email" class="form-control" id="nome_usuario" aria-describedby="nome_usuario">
                    </div>
                    <button type="submit" class="btn btn-primary">Download</button>
                  </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>

    <!-- scripts from Bootstrap  (jQuery e Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
